@import "./_default.scss";

.calendar-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 1px solid $lightGrey;
    position: relative;
    top: -8px;
    box-shadow: $matShadowLight;

    .calendar-col {
        display: inline-block;
        flex-grow: 1;
        text-align: left;
        border-right: 1px solid $lightGrey;
        width: 14.2%;
    }

    .calendar-col:last-child {
        border-right: none;
    }
}

.calendar-container.in-nav {
    border: none;
    top: 0;
    padding: 3px;
    box-shadow: none;

    .calendar-col {
        border: none;
    }
}
