@import "_default.scss";

main#dashboard-container {
    margin: 0 auto;
    margin-top: 1px;
    text-align: center;
    position: relative;
    width: 70%;
    height: calc(100% - 50px);
    overflow-x: hidden;
}

.widget {
    position: absolute;
    top: 0;
    left: 0;
    transition: left 1000ms $matEaseStd;
    flex-shrink: 1;
    flex-grow: 0;
    width: 100%;
}

.footer {
    position: relative;
    bottom: 0;
}
