@import "_default.scss";

.widget {
    display: inline-block;
    width: 62%;
    margin: 0 auto;
    overflow: visible;
    text-align: center;

    .widget-body {
        padding: 8px 0;
        background: $lighterGrey;
        position: relative;
    }
}
