@import "_default.scss";

/*TODO: Make HEADER HIGHER Z-INDEX THAN DROPDOWN */

.widget {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    text-align: center;

    .widget-body {
        padding: 8px 0;
        background: $lighterGrey;
        position: relative;
    }

    .widget-section-header {
        margin: 32px 0 16px 0;
        display: inline;
    }

    .widget-section-header:first-of-type {
        margin-top: 8px;
    }
}
