@import "../styles/_default.scss";

.footer-container {
    padding: 32px;
    font-size: 12px;
    text-align: center;
    font-weight: lighter;
    position: relative;
    bottom: 0;

    .footer-copy {
        display: inline;
    }

    a:hover {
        border-bottom: none;
    }
}
