@import "_default.scss";

.goal {
    background: $white;
    position: relative;
    height: 135px;
    width: calc(25% - 24px);
    min-width: 175px;
    margin: 0 16px;
    margin-bottom: 32px;
    padding: 16px;
    color: $darkGrey;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: $matShadowLight;
    transition: box-shadow 100ms $matEaseStd, color 100ms $matEaseStd,
        background 100ms $matEaseStd, border 100ms $matEaseStd;

    .goal-body {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.goal:nth-child(4n + 1) {
    margin-left: 0;
}

.goal:nth-child(4n) {
    margin-right: 0;
}

.goal.done {
    background: $darkGrey;
    color: $white;
}

.goal:hover {
    box-shadow: $matShadowHeavy;
}

.goal.button {
    background: none;
    color: $lightGrey;
    font-size: 20px;
    box-shadow: none;
    border: 4px dashed $lightGrey;
    font-weight: normal;
    padding: 0;

    .goal-plus {
        font-size: 112px;
        line-height: 100%;
        font-weight: lighter;
    }
}

.goal.button:hover {
    border-color: $darkGrey;
    color: $darkGrey;
}
