@import "./default.scss";

.widget {
    .widget-controls {
        display: block;
        text-align: center;
        padding: 32px 0;

        .widget-title {
            font-weight: lighter;
            padding: 8px 16px;
            padding-top: 0;
            margin-bottom: 8px;
            display: block;
            text-align: center;
            font-size: 56px;
            line-height: 100%;
        }

        .widget-previous,
        .widget-next {
            display: inline-block;
            position: relative;
            font-weight: bolder;
            line-height: 100%;
            cursor: pointer;
            z-index: 10;
            padding: 8px 16px;
            transform: scaleX(1);
            transition: all 200ms $matEaseStd;
        }

        .widget-previous {
            margin-right: 8px;
            transform-origin: right;
        }
        .widget-next {
            margin-left: 8px;
            transform-origin: left;
        }

        .widget-previous::selection,
        .widget-next::selection {
            background: none;
        }

        .widget-previous:hover,
        .widget-next:hover {
            transform: scaleX(1.2);
        }
    }
}
