@import "_default.scss";

/*TODO: Make HEADER HIGHER Z-INDEX THAN DROPDOWN */

.widget {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    text-align: center;

    .widget-title {
        font-weight: lighter;
        padding: 8px 16px;
        padding-right: 8px;
        display: block;
        text-align: center;
        font-size: 56px;
    }

    .widget-controls {
        display: block;
        text-align: center;
        padding-bottom: 16px;

        .widget-previous,
        .widget-next {
            display: inline-block;
            position: relative;
            font-weight: bolder;
            line-height: 100%;
            cursor: pointer;
            z-index: 10;
            padding: 8px 16px;
            transform: scaleX(1);
            transition: all 300ms $matEaseStd;
        }

        .widget-previous {
            margin-right: 8px;
            transform-origin: right;
        }
        .widget-next {
            margin-left: 8px;
            transform-origin: left;
        }

        .widget-previous::selection,
        .widget-next::selection {
            background: none;
        }

        .widget-previous:hover,
        .widget-next:hover {
            transform: scaleX(1.2);
        }
    }

    .widget-body {
        padding: 8px 16px;
        background: $lighterGrey;
        position: relative;
    }

    .widget-section-header {
        margin: 32px 0 16px 0;
        display: inline;
    }

    .widget-section-header:first-of-type {
        margin-top: 8px;
    }
}
