@import "_default.scss";

.horizontal-chart {
    height: 20px;
    width: 100%;
    background: $darkGrey;
    margin: 10px 0;
    position: relative;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: $matShadowLight;
    transition: box-shadow 500ms $matEaseStd;

    .chart-bar {
        height: 100%;
        position: absolute;
        width: 100%;
    }

    .chart-bar.green {
        background: $white;
        z-index: 2;
        transition: width 500ms $matEaseStd;
    }
}
.horizontal-chart.full {
    box-shadow: $matShadowHeavy;
}
