@import "_default.scss";

.horizontal-chart {
    position: absolute;
    left: 0;
    top: 0;
    height: 32px;
    width: 100%;
    background: $darkGrey;
    margin: 0;
    overflow: hidden;
    box-shadow: $matShadowLight;
    transition: box-shadow 400ms $matEaseStd;

    .chart-bar {
        height: 100%;
        position: absolute;
        width: 100%;
    }

    .chart-bar.green {
        background: $white;
        z-index: 2;
        transition: width 400ms $matEaseStd;
    }
}
.horizontal-chart.full {
    box-shadow: $matShadowHeavy;
}
