.horizontal-chart {
  height: 20px;
  width: 100%;
  background: #3a3a3a;
  margin: 10px 0;
  position: relative;
  border-radius: 3px;
  overflow: hidden; }
  .horizontal-chart .chart-bar {
    height: 100%;
    position: absolute;
    width: 100%; }
  .horizontal-chart .chart-bar.green {
    background: #6fe482;
    z-index: 2;
    transition: width 500ms cubic-bezier(0.4, 0, 0.2, 1); }
  .horizontal-chart .chart-bar.red {
    background: #ec4040;
    z-index: 1; }
