.goal {
  background: #3a3a3a;
  margin: 0 16px;
  margin-bottom: 32px;
  padding: 32px 8px;
  color: #fafafa;
  width: calc(25% - 32px);
  min-width: 175px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.07), 0 2px 6px rgba(0, 0, 0, 0.07);
  text-align: center;
  cursor: pointer;
  transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 3px; }

.goal.done {
  background: #fafafa;
  color: #3a3a3a; }

.goal:hover {
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.13), 0 2px 6px rgba(0, 0, 0, 0.1); }
