@import "_default.scss";

.flex-container {
    display: flex;

    .flex-right,
    .flex-left {
        width: 50%;
        display: block;
        position: relative;
    }

    .flex-left {
        width: auto;
    }

    .flex-right {
        flex-grow: 1;
        text-align: center;
    }
}

nav,
.brand,
nav ul {
    display: inline-block;
}

header {
    height: 50px;
    background: $white;
    border-bottom: 1px solid $lightGrey;

    .brand {
        position: relative;
        margin-left: 8px;
        padding: 6px;
        font-size: 24px;
        font-weight: bold;
        font-style: italic;
        letter-spacing: -2px;
        cursor: pointer;
        z-index: 10;
        border-bottom: none;
    }

    nav {
        position: absolute;
        left: 0;
        width: 100%;
        text-align: center;
        z-index: 5;

        .nav-item {
            display: inline-block;
            margin: 0 16px;
            cursor: pointer;
            font-weight: light;

            a {
                border-bottom: none;
                padding: 14px 32px;
                display: block;
            }
        }
    }
}
