@import "_default.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

html,
body,
#root,
.container {
    background: $white;
    overflow: hidden;
    position: relative;
    height: 100%;
}

.bold {
    font-weight: bold;
}
